.CartItem{
        display:grid;
}

.itemPic{
    height:100px;
}

.CartItemData{
    grid-column-start: 2;
    grid-column-end: 2;
}

.middleText{
    text-align: center;
}

.centered{
    margin:auto;
    display:block;
}

.prices {
    display: grid;
    width:459px
}

.justifyLeft {
    grid-column-start: 1;
    text-align: left;
}

.justifyRight {
    grid-column-start: 2;
    text-align: left;
}