.CartItem{
        display:grid;
}

.itemPic{
    height:100px;
    float:right;
    margin-right: 30px;

}

.CartItemData{
    grid-column-start: 2;
    grid-column-end: 2;
}

.middleText{
    text-align: center;
}

.centered{
    margin:auto;
    display:block;
}

.prices {
    display: grid;
    width:459px
}

.justifyLeft {
    grid-column-start: 1;
    text-align: left;
}

.justifyRight {
    grid-column-start: 2;
    text-align: left;
}

.gpButton {
    margin: auto;
    display: block;
    text-align: center;
}

.mainDiv{
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    width: auto;
    text-align: center;
    margin: auto
}




@media only screen and (max-device-width: 480px) {

    .buttn{
        font-size: small;
    }

    .itemPic{
        height:100px;
        float:left;
        margin-right: 5px;
    
    }

}