.card{
    height:auto;
    width:125px;
    border:solid;
    border-style: groove;
    display:inline-block;
    padding: 10px
}

.cardPic{
    height:150px;
    max-width: 100px;
    display: block;
    margin: auto
}

.cardText{
    text-align:center;
    font-size:small
}

.header{
    border: solid
}





.itemStoreMain{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 500px;
    margin: auto
}

.itemName{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 1;
    text-align: center;
}

.pictureHolder{
    grid-template-columns: 1;
    grid-template-rows: 2;
    padding: 20px
}

.itemPicture{
    height:400px;
    max-width:250px;
    display: block;
    margin: auto;
}

.dataHolder{
    grid-template-columns: 2;
    grid-template-rows: 2;
}

.quantity{
    width: 35px;
}

.reviewsHolder{
    grid-template-columns: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
}

.centerText {
    text-align: center;
}

.smallText{
    text-align:center;
    font-size: small;
}

.makeReviewHolder{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
}

#reviewtext{
    width:275px;
    height:200px;
    display: block;
    margin: auto;
}

.centeredItem{
    display: block;
    margin: auto;
    text-align:center;
}

.headerImage{ 
    height: 50px
}

.logo{ 
    height: 100px
}
